table {
    border-collapse: collapse;
}

tr { 
    border: solid;
    border-color: #DDDBDA;
    border-width: 1px 0;
    border-spacing: 3em;
}

th, td {
    padding: 0.5em;
    padding-right: 1em;
}

table tbody th,td {
    background: white;
}

.row__bottom--black{
    border-bottom-color: black;
}

.input--edited{
    --slds-c-input-color-background: #FAFFBD
}

.fulfillment__column{
    min-width: 150px; 
    max-width: 150px; 

    left: 0;
    z-index: 10;
    position: sticky;
}

.data__column{
    min-width: 150px; 
    max-width: 150px; 

    left: 150px;
    z-index: 10;
    position: sticky;
}

.action__column{
    min-width: 100px; 
    max-width: 100px; 

    left: 300px;
    z-index: 10;
    position: sticky;
}

.quantity__column{
    min-width: 125px; 
}

.row--red{
    color: red;
}

.row--orange{
    color: orange;
}

.row--green{
    color: green;
}