.tooltip {
  position: relative;
  display: inline;
  margin: 2px 4px;
}

.no-margin {
  margin: 0;
}

.tooltip__popover {
  min-width: 200px;
  background: #fff;
}

.tooltip__popover-bottom {
  top: 34px;
}

.no-margin .tooltip__popover-bottom {
  top: -8px;
}

.tooltip__popover-without-icon.tooltip__popover-bottom {
  top: 58px;
}

.no-margin .tooltip__popover-without-icon.tooltip__popover-bottom {
  top: 48px;
}

.tooltip__popover-top {
  bottom: 34px;
}

.no-margin .tooltip__popover-top {
  bottom: -8px;
}

.tooltip__popover-without-icon.tooltip__popover-top {
  bottom: 58px;
}

.no-margin .tooltip__popover-without-icon.tooltip__popover-top {
  bottom: 16px;
}

.tooltip__popover-without-icon {
  min-width: 100px;
  right: -42px !important;
}

.wide {
  min-width: 200px;
}

.very-wide {
  min-width: 300px;
}

.tooltip__popover-left {
  left: -18px;
}

.tooltip__popover-right {
  right: -18px;
}

.tooltip__popover-body {
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #040404;
}

.icon-size {
  height: 16px;
}

.tooltip__popover--visible {
  position: absolute;
  display: block;
}

.tooltip__popover--hidden {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
}